{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Re</title>


    <script>
		const UrlBasketServer = '{% url 'main_url' %}';
    </script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Bootstrap JS + Popper JS -->
    <script defer src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'mainapp/js/jquery-3.6.0.min.js' %} " type="text/javascript"></script>
    <script src="{% static 'mainapp/js/main.js' %} " type="text/javascript"></script>
    <link href="{% static 'mainapp/css/main.css' %}" rel="stylesheet" type="text/css">


</head>
<body>

<div class="body_container">


    <div class="form-floating mb-4" style="width:500px;">
        <select class="form-select" id="SelectReFun">
            <option>match</option>
            <option>search</option>
            <option>findall</option>
            <option>split</option>
            <option>sub</option>
        </select>
        <label style="padding-top: 15px"> Регулярная функция:</label>
    </div>

    <div>
        <div class="form-floating" style="width: 500px;">
            <input type="text" size="60" id="templates_re" class="form-control" placeholder="_">
            <label>Шаблон</label>
        </div>

        <div class="form-floating mt-4" id="ReplaceTo" style="width: 500px;">
            <input type="text" size="60" id="replace_templates_re" class="form-control" placeholder="_">
            <label> Заменить на</label>
        </div>
    </div>


    <div class="row" style="margin-top: 30px;">
        <div class="col">
            <form method="post" id="SendTextFromRE"
                  action=""
                  csrfmiddlewaretoken="{{ csrf_token }}">

                <div class="form-floating">
                <textarea id="TextRe" class="form-control" placeholder="_" cols="45" rows="20"
                          style="border-radius: 8px;height: 300px"></textarea>
                    <label>Текст</label>
                </div>
                <div>
                    <input type="submit" class="btn mt-3 btn-secondary" style="border-radius: 4px"
                           value="Отправить запрос">
                </div>

            </form>
        </div>


        <div class="col">
            <div class="form-floating">
                <textarea id="SendRe" class="form-control" placeholder="_" cols="45" rows="20"
                          style="border-radius: 8px;height: 300px"></textarea>
                <label>Результат</label>
            </div>
        </div>
    </div>
</div>


</body>
</html>

